In [87]:
import numpy as np
import pandas as pd

In [2]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:memory:

**Load the tables**

In [88]:
lf = pd.read_csv('LF_train.csv')
lh = pd.read_csv('LH_train.csv')
rf = pd.read_csv('RF_train.csv')
rh = pd.read_csv('RH_train.csv')

**Concate data frames**

In [89]:
tempTable1 = pd.concat([lf, lh], axis=0)
tempTable2 = pd.concat([rf, rh], axis=0)
tempTable3 = pd.concat([tempTable1, tempTable2], axis=0)

tempTable3.head()

,id,dob,gender,weight,forceplate_date,age,LF,gait,speed,V1_LF,...,V29_RF_trot,V29_LH_trot,V29_RH_trot,V30_LF_trot,V30_RF_trot,V30_LH_trot,V30_RH_trot,LH,RF,RH
0,169,01/29/2008,0,60.0,2009-08-14,1.542466,0.0,Walk,0.9925,381.595253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35,2006-04-12 00:00:00,0,37.0,2011-07-19,5.271233,0.0,Walk,1.046,241.735368,...,0.253702,0.208299,0.281883,0.284936,0.290986,0.208711,0.215366,NaN,NaN,NaN
2,166,09/24/1999,1,24.1,2008-04-30,8.605479,0.0,Walk,1.152,183.448346,...,0.277115,0.226666,0.232730,0.282723,0.280479,0.212416,0.224383,NaN,NaN,NaN
3,41,2003-03-05 00:00:00,0,69.3,2010-06-22,7.304110,0.0,Walk,0.95,457.200158,...,0.313119,0.218540,0.228796,0.275581,0.279070,0.227326,0.218023,NaN,NaN,NaN
4,99,2002-06-27 00:00:00,1,26.7,2009-01-23,6.580822,0.0,Walk,1.014,174.265686,...,0.279860,0.259193,0.176733,0.297174,0.281677,0.223336,0.197812,NaN,NaN,NaN

**Clean Duplicates**

In [93]:
duplicates = tempTable3.duplicated(subset=["id"])

table = tempTable3[~duplicates]

table.head()

table.to_csv('cleanedTable.csv', index = False)

In [ ]:
prefix = "STD"
cols_to_keep = [col for col in df.columns if not col.startswith(prefix)]
df_filtered = df.loc[:, cols_to_keep]